@charset "UTF-8";

body{
    background-color: slategrey;
    height: 100%;
    overflow: hidden;
}

div.tamanho div{
margin-bottom: -20px;
width: 100%;

}
iframe#framespec{


    margin-left: 30px;
    width: 300px;
    border-bottom-color: #cccccc;

}


.glyphicon-eye-open {
    pointer-events: auto;
}
.glyphicon-eye-open:hover {
    cursor: pointer;
}

/* body{
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 100%,rgba(255,255,255,0.8) 100%), url("../_img/papel.jpg");
} */

section#principal{
    display: block;
    float: left;
    width: 1050px;
    margin-right: -50px;
    margin-top: 0px;
}

/*aside#lateral{
    display: block;
    float: right;
    width: 100px;
    margin-right: -10px;
}*/

div.container-fluid{
    margin-top: -1px;
    float: right;
}
div.container{
    display: block;
    border: black;
    background-color: white;
    color: #000000;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    margin-right: -20px;
    margin-top: -10px;
    width: 250px;
    height: 725px;
}

div#legenda h4{
    padding: 10px;
    text-align: center;
}

div#legenda img{
    width: 20%;
    margin-left: 20px;
}

div#cards{
    margin-bottom: 30px;
}

nav#menu{
    background-color: white;
    color: #000000;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
}

li.nav-item:hover{
    background-color: lightslategray;
    color: white;
}

button#buttonI{
    margin-top: -25px;
}
p#iButton{
    margin: -9px;
}

h3#titulo_pag{
    font-family: 'Pacifico', cursive;
    width: 290px;
}

div.col-sm-3{
    margin-right: -7px;
    margin-left: -10px;
}

div.card-body img{
    display: compact;
    width: 10%;
}

div.card{
    width: 100%;
    height: 11rem;
    margin-top: 10px;
}
footer#rodape {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #000000;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    text-align: center;
    margin-top: 30px;
}
/*INICIO BOTÕES*/
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}




