@charset "UTF-8";

/*body{
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 70%,rgba(255,255,255,0.8) 70%), url("../_img/papel.jpg");
}*/


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.05); }

.material-icons.md-light { color: rgb(0, 57, 255); }

.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.1); }

.material-icons.pregnant600 { color: lightcoral;}
.material-icons.voicer600 { color: blue;}
.material-icons.children600 { color: mediumpurple;}
.material-icons#criarLinha { color: rgb(0, 57, 255);}

.container-fluid.material-icons{
    margin-left: -10px;
}

/*div#icons{
    margin: -10px;
    padding: -10px;
}*/

div#cabeca{
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
}

div#

div.border-box{
    border: 1px solid gray;
}

.add_pacient{
    height: 400px;
    border: none;
    overflow: hidden;
}

.add_pacient::-webkit-scrollbar{
    display: none;
}

.tabela{
    border: 5px solid black;
}

.ctnFlex{
    display: flex;
    justify-content: space-between;
}
.container-fluid{
    margin-top: 69px;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}

div.conteudo{
    display: block;
    position: relative;
    margin-top: 63px;
    margin-left: 5px;
    /*margin-right: -53px;8*/
    margin-bottom: 30px;
    width: 103%;
}

div.card{
    margin-left: 0px;
    max-height: 18rem;
    margin-right: 0px;
}

a#criarLinha{
    display: block;
    position:fixed;
    right: 280px;
    bottom: 45px;
    z-index:9999;
    width: 2.5%;
    height: 8%;
    margin-left: 5px;
    border-radius: 40%;
    border: none;
}

div.adicionar{
    position: absolute;
}


/*div.container{
    display: block;
    float: left;
    margin-top: 75px;
}*/

div.col-sm-10{
    margin-top: -70px;
    position: relative;
    margin-right: -50px;
    margin-left: -5px;
}

div.col-sm-3{
    margin-top: 70px;
    margin-right: -10px;
    margin-left: -5px;
}

aside#lateral{
    display: block;
    float: right;
    width: 100px;
    margin-right: -10px;
}

div#legenda h4{
    padding: 10px;
    text-align: center;
}

div#legenda img{
    width: 20%;
    margin-left: 20px;
}

nav#navbar{
    margin-bottom: 10px;
}

nav#menu{
    background-color: white;
    color: #000000;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    margin-top: -10px;
    margin-bottom: 10px;
}

/*li.nav-item:hover{
    background-color: lightslategray;
    color: white;
}*/

h3#titulo_pag{
    font-family: 'Pacifico', cursive;
    width: 290px;
}

.footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #000000;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    text-align: center;
    margin-top: 30px;
}



/*filtros*/
.button {
    display: inline-block;
    padding: 0.5em 1.0em;
    background: #EEE;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    text-shadow: 0 1px white;
    cursor: pointer;
}

.button:hover {
    background-color: #8CF;
    text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
    color: #222;
}

.button:active,
.button.is-checked {
    background-color: #28F;
}

.button.is-checked {
    color: white;
    text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
    margin-bottom: 20px;
}

.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.grid {
    border: 1px solid #333;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .element-item ---- */

.element-item {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 10px;
    background: #888;
    color: #262524;
}

.element-item > * {
    margin: 0;
    padding: 0;
}

.element-item .name {
    position: absolute;

    left: 10px;
    top: 60px;
    text-transform: none;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: normal;
}

.element-item .symbol {
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 42px;
    font-weight: bold;
    color: white;
}

.element-item .number {
    position: absolute;
    right: 8px;
    top: 5px;
}

.element-item .weight {
    position: absolute;
    left: 10px;
    top: 76px;
    font-size: 12px;
}

.element-item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.element-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element-item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element-item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element-item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element-item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.element-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
.texto{
    font-family: 'Roboto Slab', serif;
}
